<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/main.css">
</head>


<body>
    <div class="login-form">
        <form method="post" action="{{url_for('change_mfa')}}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <h3 class="text-center">Welcome {{current_user.username}}!</h3>
            <h4 class="text-center">MFA Status: {{mfa_status}}</h4>
            <div class="text-center">
            <button type="submit" class="btn btn-primary">{{mfa_button}}</button>
            </div>
            <h4 class="text-center"><a href="{{url_for('logout')}}">Click Here to Log out</a></h4>
        </form>

    </div>
</body>

</html>
