<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registration Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/main.css">
</head>

<body>
    <div class="login-form">
        <form method="post" action="{{url_for('register')}}">
            {{ form.csrf_token }}
            <h2 class="text-center">Registration</h2>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                {%if category == 'error' %}
                   <p class="alert alert-danger text-center">{{ message }}</p>
                {% elif category == 'message' %}
                    <p class="alert alert-success text-center">{{ message }}</p>
                {% endif %}
                {% endfor %}
            {% endif %}
            {% endwith %}

            <div class="form-group">
                {{form.email(class="form-control")}}
            </div>
            <div class="form-group">
                {{form.username(class="form-control")}}
                    {% if form.username.errors %}
                    {% for error in form.username.errors %}
                        <div class="text-danger"> <span class="error-message">{{ error }}</span></div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-group">
                {{form.password(class="form-control")}}
                {% if form.password.errors %}
                    {% for error in form.password.errors %}
                        <div class="text-danger"> <span class="error-message">{{ error }}</span></div>
                    {% endfor %}
                {% endif %}    
                </div>
            <div class="form-group">
                {{form.confirm_password(class="form-control")}}
                {% if form.confirm_password.errors %}
                    {% for error in form.confirm_password.errors %}
                        <div class="text-danger"> <span class="error-message">{{ error }}</span></div>
                    {% endfor %}
                {% endif %}
                
            </div>
            <div class="form-group">
                {{form.recaptcha }}
            </div>
            <div class="form-group">
                {{form.submit(class="btn btn-primary btn-block")}}
            </div>
            <d
        </form>
        <p class="text-center"><a href="{{url_for('index')}}">Return to Login</a></p>
    </div>
</body>

</html>

